[2015-11-06 22:31] francisdb opened #1 "add .idea folder to .gitignore"
idea / android studio should import the project properly from the gradle build

[2015-11-07 07:59] kimar commented on #1
Thank you, PR merged

[2015-11-07 07:59] #1 closed

[2015-11-07 21:26] francisdb opened #3 "Google Maps Android API: Authorization failure"
Maps fail because of Authorization failure

Not sure what the best practice is for oss apps regarding these keys and storing them on github.

[code]

[2015-11-07 21:35] francisdb opened #4 "Sync serverside and clientside geofences"
Currently creating a serverside geofence does not add it to the app (best would be some kind of push notification if the list of fences changes)

Also in-app geofences are not stored online

[2015-11-07 21:41] kimar commented on #3
Ah fair enough, yeah I also wrapped my head around this topic. For the sake of the app I'd just think of getting a key from Google and store it inside the App, I might have another one for the Production (Play Store) App in the build config once the App's ready for prime time...

[2015-11-07 21:42] kimar commented on #4
In the iOS App you have to do this manually. I've been working on a sync mechanism once but it's pretty much stalled. Would also need some work on the server side of things, still thinking of open sourcing the cloud app too...will need some refactoring though. I'm on this topic.

[2015-11-07 22:23] kimar commented on #3
Obviously the Gmaps API key is tied to your individual keystore used for signing the app, thus we can't go with a generic one for development purposes. In this case you'd need to create your own API key.

Background:
http://stackoverflow.com/questions/8034329/google-maps-api-key-in-android-opensource-project

How to get Google Maps API Key:
https://developers.google.com/maps/documentation/android-

[2015-11-07 23:49] kimar opened #6 "Geofences not triggered / http requests not sent"
Seems like entering / leaving fences is not worknig correctly. The last time I ran the App is almost a year ago and I've had only an old Samsung test device those days.

[2015-11-07 23:49] kimar opened #7 "Implement way to simulate triggering fences"
On iOS it's possible to specify a GPX file to simulate triggering Geofences, not sure if something like this exists for Android tho.

[2015-11-09 09:16] francisdb commented on #7
That is available in android studio yes.

[2015-11-16 05:30] #3 closed

[2015-11-16 05:31] kimar opened #9 "Make app built by Travis CI"

[2015-11-16 05:31] kimar opened #10 "Add Unit-Tests using JUnit"

[2015-11-16 06:07] kimar commented on #9
Build is failing because of this. Do you have any idea @francisdb ?
You can take a look at `.travis.yml` if this helps...

[code]

[2015-11-16 09:55] francisdb commented on #10
Yep, would like to have the fence stuff tested but not sure how feasible this is

[2015-11-16 09:56] francisdb commented on #6
Works for me now, still needs some tweaks but we can fix that along the way

[2015-11-16 09:57] francisdb commented on #6
@kimar please close

[2015-11-16 09:59] francisdb commented on #4
Will work on this next. How is the current manual sync done? Only copying serverside to app, the other way round or both? I thought about adding a sync action on the fence list view which would copy over serverside fences to the app.
Do you have something like last modified date to be able to know what version is more recent?

[2015-11-16 10:00] francisdb commented on #9
@kimar The travis build badge does not have a link to travis

[2015-11-16 10:04] francisdb commented on #9
maybe this needs to be added? `    - extra-google-m2repository`

[2015-11-16 10:21] kimar commented on #9
Nice, thx a bunch. Looking good now :white_check_mark:

[2015-11-16 10:21] #9 closed

[2015-11-16 10:39] kimar commented on #6
Awesome @francisdb thx!

[2015-11-16 10:39] #6 closed

[2015-11-16 10:40] kimar commented on #10
I'll also take a look into this, still need to get testing implemented by Travis for both Android and iOS (and add lots of tests) before even thinking of streamlining the continous deployment to the store (via maybe fastlane.tools)

[2015-11-16 13:54] francisdb opened #13 ""Fence added" toast shown multiple times"
* edit existing fence
* save

as a result the toasts that indicate the addition of fences are shown a multitude of times
also when opening the app for each fence it shows a toast per fence
when opening the app a second time / or when rotating phone they are even shown 2 times, when doing that again 3 times...

[2015-11-16 13:55] francisdb opened #14 "Fence size slider is hard to reach"
Always end up in the textfield below. Add bigger margins between components.
Might want to look at:
http://developer.android.com/design/index.html

[2015-11-16 13:56] francisdb opened #15 "Add geofence icon ugly"
Also the notification icon just shows an empty circle.

[2015-11-16 14:00] francisdb opened #16 "Fence circle does not match actual fence?"
I have the impression that the fence shown in the app does not have the same radius/size as the actual fences set up in google play services.

Drawing a circle with radius ~ 100m and app reports geofence of 30m

[2015-11-16 14:02] francisdb commented on #4
@kimar I see I got access to the project but can not assign this ticket to me. Can you also reply to the question above?

[2015-11-16 16:00] francisdb opened #17 "Track app errors"
We probably want to track errors (caught and uncaught)
like services dying, networking / serialisation failures, and app crashes

@kimar are you already using something like these?
https://rollbar.com/
http://www.crittercism.com/
https://try.crashlytics.com/

[2015-11-16 19:59] kimar commented on #17
Hi, I've been using Fabric.io on iOS but I wouldn't mind if you said that another service is more suitable.
I'd leave this up to you.
You probably wouldn't want to check in the App Key / ID for the service, right?

[2015-11-16 21:05] francisdb commented on #17
No preference, fabric.io looks fine to me.

[2015-11-16 21:07] francisdb commented on #4
Would it not be simpler to just do auto sync? Like anything from the server overrides local info in the app.

[2015-11-16 21:15] kimar commented on #4
Easier yes but as the iOS app existed long before there was the web service, I didn't want to mess up with user created Geofences inside the app so I had to make sure those don't get overridden.

There's this `sync` method which delviers a delta of the Geofences on the server (removed and added) but that's certainly not a enough to do a full-fledge sync (but it might be a beginning): https://githu

[2015-11-16 21:33] francisdb commented on #4
To do a real sync we would need a last update date, that way in a 2-way sync the last version wins. And you also need to keep track of deleted fences (soft delete)

[2015-11-16 21:36] kimar commented on #4
That’s already implemented on server side, both the deleted flag and also query with lastUpdate timestamp.

[code]

[2015-11-16 21:45] francisdb commented on #4
hmm, is that enough for a 2-way sync?

[2015-11-16 21:47] kimar commented on #4
The app would have to do it's own delta and send all missing Geofences, I'd rather like to put more of this stuff onto the server side, so I'd agree with you that we might need a bit more there. Also maybe we might want to use the HTTP `PATH` method?

[2015-11-16 22:02] francisdb commented on #4
Actually, I have never coded this kind of stuff but I guess many people have solved this before. Anyway, let me just start with a server to app sync.

As I mentioned before I envision an app that is totally controlled by the server and does not even need a ui. The app could then optionally behave like a public api client for setting up the fences.

Currently all the fields in the app on server url

[2015-11-16 22:03] kimar commented on #4
I'm fine with that, sounds good to me :+1:

[2015-11-16 22:04] francisdb commented on #4
@kimar a general geofancy gitter chat might be better than all this ticket abusing?

[2015-11-16 22:05] kimar commented on #4
Haha yeah definitely. Will add this.

[2015-11-18 02:06] kimar commented on #4
This is basically how it looks like on iOS.
1. Chose weather to import or add local one after clicking the **+**:

![img_9943](https://cloud.githubusercontent.com/assets/126418/11230693/160b162c-8df5-11e5-8b2d-61b3016879c5.PNG)

2. Select a Geofence and it will be imported straight away:

![img_9944](https://cloud.githubusercontent.com/assets/126418/11230695/1784e9a6-8df5-11e5-9882-d82f296c1029.PN

[2015-11-26 09:54] kimar opened #19 "Fence can hardly be moved on map"
It's almost impossible to move the marker on a Gmap, this definitely needs some adjustment

[2015-11-26 10:14] francisdb commented on #19
@kimar this app is currently dysfunctional, but need to find the time to fix issues.
This is related to the library you use (copied in the project) that is probably not compatible any more.

[2015-11-26 10:16] kimar commented on #19
Yeah, now worries. I'll also try to take a look into this when I've got some time. No rush on that, it's just a side project.

[2015-11-28 10:14] francisdb commented on #15
this was fixed with a4a5f312f68d1c498f7ba1c456a98f46e4383e36

[2015-11-28 10:14] #15 closed

[2015-11-29 13:49] francisdb opened #22 "Keep only latest notification or group"
Currently it's not clear what the latest notifications was

We should only keep the latest notification, and optionally show more info when sliding open the notification

![multinotifications](https://cloud.githubusercontent.com/assets/161305/14910453/a4b0037e-0ded-11e6-9d17-0e8c9905bfba.png)

[2015-11-30 21:45] chrissd23 opened #23 "Redesign ......"
Hi,

I think about a new design. I think that we could use more material design aspects.

What do you think @kimar @francisdb ...?

[2015-11-30 22:48] kimar commented on #23
Yeah I think @tbasse already worked on a redesign (for iOS).
You could do some material ui stuff but I'd rather not change too much and maybe align it to the potential new design. We'll look into this soon-ish.

[2015-11-30 22:49] kimar opened #24 "Rebranding to 'Locative'"
Geofancy is soon being called Locative.
Will need to change this inside on the Android side too.

[2015-12-01 09:16] ChrisDolge commented on #24
Ok ,

Only the app name ...?

[2015-12-01 09:32] francisdb commented on #24
Since nothing is in the store yet I would also rename packages and app identifier

[2015-12-01 09:32] francisdb commented on #24
@ChrisDolge will you take care of this? Just that we don't both do this.

[2015-12-01 09:33] ChrisDolge commented on #24
Yes

I can do this. I think later on this day ;)

[2015-12-01 09:44] kimar commented on #24
Yeah thx :+1: App name shall be. "Locative" and backend is now "https://my.locative.io", bundle ID can be "io.locative" or "io.locative.android" or whatever suits it in Android-Land :-)

[2015-12-01 09:50] francisdb commented on #24
I suggest to unify the Not sure if this is important but would be nice if we could unify the id and the resource package

https://github.com/Geofancy/android-app/blob/master/app/build.gradle#L37

[2015-12-01 09:53] francisdb commented on #23
@ChrisDolge agree, and for @kimar I don't think the android app should copy the iOS app for design. It should only try to have the same functionality. But I don't have a view on this as i have no iOS devices at home.

[2015-12-01 10:46] kimar commented on #23
@francisdb totally agree here. I didn't mean to do a 1:1 design but rather realize it using well-known Android design patterns while still keeping the Locative CI/CD

[2015-12-01 10:48] kimar commented on #23
@francisdb @chrisdolge I'm sure both of you are better Android devs (and also users) than I, so I'd rather leave this up to you than fiddle around there with my iOS bias

[2015-12-01 10:58] ChrisDolge commented on #23
@kimar  I agree with you to keep the Locative CD.

Do you know when @tbasse finished his redesign work? It would be good to see some screenshots after that. :)

Cheers ;)

[2015-12-01 11:00] kimar commented on #23
Probably needs some more work, just do what you think suits best for now. We're then trying to unclutter the UI later on. Right now I'm also thinking completely rewriting the iOS app as there's lots of stuff that's :hankey:

[2015-12-01 11:03] ChrisDolge commented on #23
Ok :smile:

[2015-12-01 11:05] kimar commented on #24
Sure why not, as long as we haven't published it, we can do whatever we want with it :yum:

[2015-12-01 11:10] francisdb commented on #23
I'm far from a android UX/UI expert, have not been following the space too much

[2015-12-01 20:37] francisdb commented on #24
Any more work on this one?

[2015-12-01 20:40] francisdb commented on #17
@kimar can that fabric account be shared?

[2015-12-01 20:43] ChrisDolge commented on #24
I think all is done :+1:

[2015-12-01 20:44] kimar commented on #17
Yeah I'd just need to securely send you the credentials somehow.

[2015-12-01 20:46] tbasse commented on #23
I had worked on some new layouts a good while ago but by now they are pretty outdated again. I'll bring them up to date and post screens then.

[2015-12-01 20:47] kimar commented on #23
@tbasse :clap: nice

[2015-12-01 20:51] francisdb commented on #17
But maybe you can have multiple members in your project?

[2015-12-01 20:52] kimar commented on #17
:facepunch: sure we can! shoot me your mail address at marcus@kida.io

[2015-12-01 20:54] ChrisDolge commented on #23
Great @tbasse :+1:

[2015-12-01 21:05] francisdb commented on #17
After a while the app stops reporting fences, I guess this is related to some error in the service. Fabric should help us to track this.

[2015-12-01 21:09] kimar commented on #17
Cool, thx for looking into this. Just out of experience also take things like backgrounding into your mind. Tricked me more than once on iOS. Don't know how this works in general on Android though.

[2015-12-01 21:15] francisdb commented on #17
Not even sure what that term implicates... Anyway, we only react on fences which google tells us about

[2015-12-01 21:22] #24 closed

[2015-12-01 21:52] francisdb opened #29 "Show fencelogs in app"
like on https://my.locative.io/account page

[2015-12-02 09:02] francisdb opened #31 "Notification icon needed"
Currently notifications show a pale circle. We need a proper icon.

[2015-12-02 09:06] kimar commented on #31
On iOS this automatically shows the app icon, could you post a screenshot of how this notification looks like?

[2015-12-02 09:12] francisdb commented on #31
We could use this to generate them:
https://romannurik.github.io/AndroidAssetStudio/icons-notification.html

Do you have the icon in svg?

[2015-12-02 09:46] kimar commented on #31
Only got those present in the iOS app's asset folder, blue 'n black, but should be feasible to convert them I'd guess. https://github.com/LocativeHQ/ios-app/tree/master/Assets/Icons

Maybe I and @tbasse can come up with something better in the future.

[2015-12-02 10:29] francisdb commented on #31
Well would not hurt to have vector icon + full logo in svg somewhere? Square and long versions.

[2015-12-02 11:36] kimar commented on #31
Yeah definitely :+1: don't have anything like that though

[2015-12-02 12:50] francisdb commented on #31
So we then wait for @tbasse to come up with the svg's?
I can take it from there

[2015-12-02 19:57] kimar commented on #31
I'm not sure if he's available or too busy right now, but I think this can wait a bit, right? Otherwise I could see if I can find an old vector one or, in the worst case, vectorize the existing one...

[2015-12-02 20:05] francisdb commented on #31
nah, not urgent

[2015-12-03 09:54] francisdb commented on #31
Here you have some screensots

Notification when screen locked

![screenshot_20151203-091338](https://cloud.githubusercontent.com/assets/161305/11557228/eea926d8-99ab-11e5-9593-36c0ab8d338c.png)

Notifications when unlocked and swiped down

![screenshot_20151203-083658](https://cloud.githubusercontent.com/assets/161305/11557229/ef89f69a-99ab-11e5-8674-c3205ab2de3c.png)

[2015-12-03 10:47] kimar commented on #31
Wow awesome, so cool to see it actually in action. Really good work @francisdb and @chrisdolge can't wait to have this submitted to the play store 🎉 thx a bunch already! @tbasse is also working hard on some new designs on iOS, we'll ping you as soon as we've got something to show. maybe we should create a design repo for this

[2015-12-07 23:19] chrissd23 opened #33 "Using Dagger and Otto"
I would like to add dagger as dependency injection and otto as event bus system.

I think we can write better code to test. I think there are various scenarios where we can write tests. Like login and logout, sign up ... and so on.

With Otto we can reduce the use of listener. :relaxed:

What do you think @kimar @francisdb ?

[2015-12-07 23:45] kimar commented on #33
Sure sounds good to me, I'm not familiar with those frameworks though. Only thing that we need to be cautios is to not overuse the eventbus, because from my experience this _could_ give us a hard time debugging code.

But I'm putting this into your expertise and hands 👏

[2015-12-08 00:11] chrissd23 commented on #33
I agree with you. I also have made this experience with eventbus :scream:

I will be carful :smile: , This is only an intermediate step.

So most of all I would like to use a new architecture MVVP. Many andorid devs prefer this.
Currently I try to understand this and how to used it for Android.

[2015-12-08 01:39] kimar commented on #33
:cool:

[2015-12-08 06:25] francisdb commented on #33
Go ahead. All these libs from square are great.
Do we still need butterknife with dagger? Dagger1 or 2?

[2015-12-08 08:02] chrissd23 commented on #33
Yeah :sunglasses:

I will use dagger1. I think I can show you some first steps later on this day. :blush:

[2015-12-08 08:25] francisdb commented on #33
Looking forward to it

[2015-12-09 07:37] chrissd23 opened #36 "Rename classes"
Replace Geofancy with Locative

[2015-12-09 20:23] chrissd23 commented on #36
I think we can close this issue :blush:

[2015-12-09 20:32] kimar commented on #36
Oh yeah, sure, thx :+1:

[2015-12-09 20:32] #36 closed

[2016-03-04 16:54] GlennVM opened #39 "NullPointerException in Plugin Android Support"
When I try to build the app, Android studio quits building the gradle and throws this exception
[code]

[2016-03-05 05:50] chrissd23 commented on #39
I think you should try to update your sdk-version from sdk manager.

[2016-03-05 06:32] chrissd23 opened #41 "Missing Runtime Permissions for Android Version 6.0"
There is no run time permission request in LocationService.java.

[2016-03-05 10:15] francisdb commented on #31
@kimar @tbasse 3 months later...
Another request for vector icon + full logo in svg somewhere?

[2016-03-06 00:27] kimar commented on #31
@francisdb I've just vectorized the App Store logo (which is the same as the iOS App icon) and created a new repo for all the assets here: https://github.com/LocativeHQ/assets/tree/master/icons/vectorized

Hope this helps. I'd also be open for modifications to the icon and CD in general.

[2016-03-06 00:28] kimar commented on #41
Sounds good, what do we need to do to achieve this? I don't have much experience with Android 6.x

[2016-03-06 10:26] francisdb commented on #41
see http://developer.android.com/training/permissions/requesting.html

[2016-03-06 10:33] francisdb commented on #31
@kimar thanks! What's CD?

[2016-03-06 13:59] chrissd23 commented on #31
@francisdb CD = corporate design

[2016-03-06 14:09] chrissd23 commented on #41
I can afford some time to fix this next weekend or @francisdb would you like to do this ... :) ?

[2016-03-06 19:30] francisdb commented on #41
@chrissd23 go ahead, please assign yourself to the ticket when you start working on it

[2016-03-07 09:27] francisdb commented on #39
@GlennVM As I understood this has fixed itself so I'm closing this one.

[2016-03-07 09:27] #39 closed

[2016-04-19 00:12] robertbaptiste opened #43 "Resolve all lint issues"
Currently, there are 105 lint issues.
To avoid a failing build due to these issues, we add this code in build.gradle:
lintOptions {
abortOnError false
}

Tasks:
- All these lint issues need to be fix
- The abortOnError need to be remove from build.gradle

[2016-04-19 19:10] robertbaptiste commented on #41
Fixed with #42

[2016-04-19 19:10] #41 closed

[2016-04-19 20:27] francisdb commented on #41
@robertbaptiste since you are not on gitter I'm asking here. Do you also have the problem where the app after a while does not trigger fence logs any more? Could be related to restarting my phone.

[2016-04-19 21:01] kimar commented on #31
@francisdb did you use the icons orovides for the notifications? I'm asking because I'm checking what we might need to submit to the Play Store

[2016-04-19 21:02] kimar opened #44 "Submit to the Play Store"
Once Ready. Potentially still blocked by other issues.

[2016-04-19 21:07] francisdb commented on #31
not yet, sorry, need some time to apply this

[2016-04-19 21:15] kimar commented on #31
No worries, just askin', you can update this issue in case you're working on it, otherwise I might also take a look into this, if I find some time.

[2016-04-19 21:59] francisdb commented on #44
Might be good to create a milestone for this?

[2016-04-19 22:10] kimar commented on #44
Sure thing! 👍

[2016-04-20 08:11] robertbaptiste commented on #41
Hi @francisdb,

I didn't notice this one but I didn't test the app a lot. I need to use more the app and I will tell you :)

[2016-04-22 11:54] chrissd23 opened #45 "Fabric / Crashlytics"
Hi guys,

I think we should implement fabric/crashlytics to the application. So we have good crash report and some other analytics stuff at first.

I've added this framework to our company application and it works fine for me :)

What do you think ? @kimar @francisdb

[2016-04-22 11:59] francisdb commented on #45
@chrissd23 there already is an account, you can ask @kimar for credentails. My local version had it set up but then I got conflicts with the recent merges so never made it.

Let me see if I can add you

see #17

[2016-04-22 12:00] kimar commented on #45
@chrissd23 @francisdb yeah we already talked about this, there's even already a Locative org @ Fabric and the android app has already been added. Also both of you are already part of the fabric team so we basically just need to implement this.

[2016-04-22 12:01] francisdb commented on #45
Great, @chrissd23 do you add this stuff?

[2016-04-22 12:01] chrissd23 commented on #45
@kimar @francisdb  Yes , I can add this ;)

[2016-04-22 12:02] kimar commented on #45
Awesome @chrissd23 !

[2016-04-22 22:26] chrissd23 commented on #45
I have some problems with Travis CI.

I would like to hide the public fabric api from our repo. So I add a local property file with this key. If I build the app locally it works fine.

If I leave the api key in android manifest file -> Travis CI build failed  :(

So I have no perfect solution for this problem. Maybe do you have some ideas @francisdb @kimar

[2016-04-22 22:37] chrissd23 commented on #45
I found a solution. I need some test :)

[2016-04-23 02:19] kimar commented on #45
@chrissd23 awesome :+1:, I'd like to add the key to travis as a build environment variable so we don't expose it publicly. I'll also add Crashlytics to the iOS app as soon as possible (aka. when I find some time)

[2016-04-23 05:27] chrissd23 commented on #45
Sounds great @kimar

You need to add these two variables

export ORG_GRADLE_PROJECT_crashlyticsdemoApikey="  "
export ORG_GRADLE_PROJECT_crashlyticsdemoApisecret ="  "

I think that's it :)

[2016-04-23 05:38] chrissd23 commented on #45
I was wondering whether we should disable crashlytics for debug build ? Because we see all the crashes in out IDE :)

What's your opinion ? @kimar @francisdb

[2016-04-23 05:51] kimar commented on #45
@chrissd23 great thx I'll add those, can we please make them all upper case? With underscores in between? That's the convention for env vars afaik. And yes we should totally disable this for Debug!

[2016-04-23 07:03] chrissd23 commented on #45
Done :smile:

[2016-04-24 16:52] francisdb commented on #45
:+1 for disabling crashlytics for debug builds

[2016-04-25 01:04] kimar commented on #45
@chrissd23 awesome thank you!

[2016-04-25 01:04] #45 closed

[2016-04-28 12:01] francisdb commented on #31
@jasperdevrient could you also update the icon to use:
https://github.com/LocativeHQ/assets/tree/master/icons/vectorized ?

app main icon is blurry, same with notification icons

[2016-04-28 12:07] jasperdevrient commented on #31
Ok I will fix this

[2016-04-28 12:13] francisdb commented on #4
@jasperdevrient think this would be something you could manage?

[2016-04-28 12:14] francisdb commented on #31
The geofence list also has blurry icons

[2016-04-28 13:12] jasperdevrient commented on #31
@francisdb It used the same image, I have added more versions to handle screens with a bigger DPI.

[2016-04-28 13:20] francisdb commented on #31
@jasperdevrient way better 👍

[2016-04-28 13:28] francisdb opened #50 "Clean up settings activity"
![image](https://cloud.githubusercontent.com/assets/161305/14887286/661715fa-0d55-11e6-955f-4c9cf77f6971.png)

Continuation of https://github.com/LocativeHQ/android-app/pull/38

- more material design buttons
- The POST / GET button should be dropdown or radio button (toggle buttons docs mention at least 3 options)
  http://www.google.be/design/spec/components/buttons.html#buttons-dropdown-buttons

[2016-04-28 13:33] francisdb commented on #23
see #50 for the settings activity

[2016-04-28 22:53] kimar commented on #50
Awesome work @francisdb 👍  Thank you!

[2016-04-29 05:03] francisdb commented on #50
@kimar This is not a PR  ;-)

[2016-04-29 05:04] kimar commented on #50
@francisdb well then thanks for putting this together anyway 😄

[2016-04-29 07:16] chrissd23 commented on #50
:smile: :+1:

[2016-04-29 07:17] chrissd23 commented on #50
I would take care of it .. @francisdb

[2016-04-29 07:29] francisdb commented on #31
@jasperdevrient Looks like I found some other icon issues

Lock screen (too small icons)
![lockscreen](https://cloud.githubusercontent.com/assets/161305/14910299/63c089fc-0dec-11e6-9b9e-43cdb0db35a0.png)

Notification icons (icon not visible, just shows square)
![notifiation icons](https://cloud.githubusercontent.com/assets/161305/14910302/69fb6cd8-0dec-11e6-834b-aad8db91840b.png)

Notification dr

[2016-04-29 07:38] francisdb commented on #23
I guess it would be better to have more actionable tickets where it's easier to discuss a specific view

[2016-04-29 07:41] francisdb commented on #17
I guess we can also close this one

[2016-04-29 07:41] #17 closed

[2016-04-29 07:43] francisdb commented on #7
Don't think that should be built into the app. The simulator can handle that.

[2016-04-29 07:43] #7 closed

[2016-05-02 07:43] jasperdevrient commented on #4
@francisdb Ok I will do this. So when the user hits the Add button he should be prompted if he wants to create a new fence or import one from the server (which would display a list available geofences). But then when the user edits or remove a fence (that is from the server) these changes have aslo to be synced to the server. So on the localstorage level a distinction should be made?

@kimar Can I

[2016-05-02 11:08] francisdb commented on #4
I guess you could just add a sync button?

[2016-05-02 11:32] kimar commented on #4
@jasperdevrient no the `type` is meant to distinguish between `iBeacon` (or the Android equivalent) and `Geofence`. On iOS I'm not using this at all as the sync isn't implemented. You have to manually up-/download the fences. But I'd be keen to implement and test the sync. So feel free to add an attribute or propose changes to the existing model.

[2016-05-02 11:52] jasperdevrient commented on #4
@kimar Ok for the first version I will implement it as a simple download of the fence and added it to the local database. In the next versions I will change this to support sync.

[2016-05-02 12:00] #31 closed

[2016-05-02 12:26] kimar commented on #4
Awesome @jasperdevrient :+1:

[2016-05-02 13:19] francisdb commented on #4
@kimar is there a reason to not just always do full two-way sync?

[2016-05-02 13:23] francisdb commented on #13
@jasperdevrient, still seeing the multiple toasts when opening the app

[2016-05-02 13:30] francisdb commented on #13
nw

[2016-05-02 13:30] #13 closed

[2016-05-02 13:31] francisdb opened #55 "Geofence list sometimes empty"
The activity does not seem to be reloading the list contents on rotate

[2016-05-02 22:00] kimar commented on #4
@francisdb right now the only reason for me is that it's not been tested yet. No unit- / integration tests also I didn't extensively test this manually. Don't want to roll this out in production and mess up the user's Geofences. I'll see that I get this implemented into iOS at some point.

[2016-05-03 08:10] francisdb commented on #29
@jasperdevrient just show a basic log, fence name and time

[2016-05-03 08:46] francisdb opened #57 "Unify serverside and clientside geofence view"
Some issues with the geofence view

* make sure you only show the custom id and the location coordinates (if address is known you can also show it)
* importing currently sets the id as customid
* fencelogs currently have the id in the customid field

[2016-05-03 08:54] francisdb opened #58 "Device id is Unknown for fence logs"
This location namely `work` has been left using `Unknown` on 30.11.2015 at 23:56:37.
It's exact GPS position is lon x.xxx and lat x.xxx.

[2016-05-03 11:14] #57 closed

[2016-05-04 10:43] francisdb opened #60 "Add beacon support"
As I understand the iOS app supports beacons. @kimar could you mention what needs to be done to support this?

[2016-05-04 13:07] #14 closed

[2016-05-04 13:07] jasperdevrient commented on #22
This has been fixed with #51.

[2016-05-04 13:07] #22 closed

[2016-05-04 13:25] jasperdevrient commented on #58
`Build.MODEL` is used to send as origin

[2016-05-04 13:25] #58 closed

[2016-05-04 22:31] kimar commented on #60
@francisdb this is kinds of a tricky thing. The `iBeacon` technology is a proprietary implementation by apple: https://developer.apple.com/ibeacon/

But IIRC there's also some equivalent from Google /  Android and also different other implementations. I think the first stept in adding this support would be to actually evaluate what makes most sense.

I can imagine there's libraries which emulate o

[2016-05-06 19:55] francisdb commented on #60
https://developers.google.com/beacons/

I have some of there which might be compatible
http://estimote.com/

[2016-05-06 20:21] francisdb commented on #14
e0b740069e9a818bd3da0da9b8a316f81422a313

[2016-05-06 20:22] francisdb commented on #58
3074c6205e057e281d46342d28c0fe1cef0197b5

[2016-05-06 20:52] francisdb opened #62 "Upload local fences"
Would be nice to indicate what fences are local and which ones are are available on the server + allow uploading missing fences to the server.
(also this somehow lets me check if the fences are correct, see #16)

I guess in the end we would want a fully automated sync option but for now this would already help.

[2016-05-07 00:20] kimar commented on #60
Awesome @francisdb sounds cool, I also planned of integrating the Estimote SDK, but apart from that I think it totally makes sense to go the Android way, in terms of Beacons, with the Android App.

Do you think this should go into the initial release or should we just try to release a stable first version which we can then also deploy to the Play Store?

[2016-05-07 00:21] kimar commented on #62
@francisdb does this need to be added to the milestone for the first release? I'd try to get a first version into the Play Store ASAP. https://github.com/LocativeHQ/android-app/milestones

[2016-05-07 05:44] francisdb commented on #60
Would really focus on the bugs first. Mainly the fence editor. And then make a release.

[2016-05-07 05:45] francisdb commented on #62
Not for my part. But we need to fix #16

[2016-05-10 07:18] #29 closed

[2016-05-10 07:39] francisdb opened #63 "On each app start/screen rotate the current fence triggers"
I guess the geofences are reregistered causing the fence the user currently is in to trigger.

cases:
* app start
* screen rotate on fence list
* adding fence
* removing fence
* importing fence

We should probably be smarter on updating/creating the fences only when needed

[2016-05-11 12:24] francisdb commented on #50
Seems that most of the comments are invalid, doing a quick fix for the others

[2016-05-11 13:32] #16 closed

[2016-05-11 13:41] francisdb commented on #23
I suggest we close this for now. @tbasse in case you come up with something feel free to reopen

[2016-05-11 13:41] #23 closed

[2016-05-11 13:48] francisdb commented on #4
@jasperdevrient The import is still wrong, address is set to customId and customId is set to the real id.
Instead address should be empty and customId should be the server's geofence customId.

[2016-05-13 21:20] francisdb opened #64 "Clicking on the notification should end up at recent fencelogs list"
Currently the app starts as usual (geofence list)

[2016-05-17 18:51] francisdb opened #66 "Geofences don't trigger any more after phone restart"
After opening the app once everything is back to normal

I guess we have to reregister them on startup? How?

[2016-05-19 14:39] #4 closed

[2016-05-20 08:48] #66 closed

[2016-05-20 09:04] francisdb commented on #66
I can confirm this is fixed. Just restarted my phone and the fence I am in triggered

[2016-05-20 14:51] francisdb commented on #63
There is a chance that the service is destroyed causing the cache map to be emptied. Better would be to actually contact the geofence service and ask the real list

[2016-05-20 14:58] francisdb commented on #63
Also the current fix does not seem to be working, so you can remove that code

[2016-05-20 15:04] francisdb commented on #63
logs below

[code]

[2016-05-24 11:10] #63 closed

[2016-05-25 21:44] francisdb opened #71 "Update readme with current status"
@kimar since I don't want to change your words can you please update the README to indicate we are working towards a release instead of this being a dead open-source dump :-)

specifically the section https://github.com/LocativeHQ/android-app/blame/master/README.md#L11

Thanks

[2016-05-25 22:41] francisdb commented on #55
@jasperdevrient there is a bug:

1. go to fencelogs
2. wait for load
3. rotate screen to horizontal
4. wait for load
5. go to geogeofences

you now have an infinitely spinning spinner until you again rotate the phone

[2016-05-26 06:22] #71 closed

[2016-05-26 07:41] francisdb commented on #55
closing and creating new ticket for this small issue

[2016-05-26 07:41] #55 closed

[2016-05-26 07:43] francisdb opened #73 "Small issue with loading loading geofence list"
related to #55
1. go to fencelogs
2. wait for load
3. rotate screen to horizontal
4. wait for load
5. go to geogeofences

you now have an infinitely spinning spinner until you again rotate the phone

In general I was wondering if this loading of fragments instead of creating activities is good practice. The back button behaves strangely in these cases.

[2016-05-26 21:08] francisdb opened #74 "Allow testing fences"
I would be nice if we could test a geofence, maybe long press on the geofence can give 2 options, delete and test

[2016-05-26 22:37] kimar commented on #74
Also got an issue for this for a while on iOS: https://github.com/LocativeHQ/ios-app/issues/12
As it's not a typical UX to long-press something on iOS I would go with something different  (e.g. swipeable cell from left to right (in contrast to right to left for deleting)). But I think it's fair enough to use a long press on Android. not sure what their official UX guidelines say though.

[2016-05-27 08:00] chrissd23 commented on #74
Hi guys :)

I think long press will be the easy way , but in android there are also swipeable cells. Best example is android gmail app :). For deleting they use long press and for backup the mail you can swipe from left to right or the other way around.

[2016-05-27 08:05] chrissd23 commented on #74
![screenshot_20160527-100152-2](https://cloud.githubusercontent.com/assets/6907301/15601914/8214de96-23f2-11e6-8145-6c6dd77bfc70.png)

[2016-05-27 13:53] francisdb commented on #74
not a fan of this left and right swiping unless it is really obvious like getting rid of something

[2016-06-04 21:11] barros3 commented on #3
I followed the steps but i'm not geting sucess... :/

[2016-07-07 12:27] kimar commented on #44
I've set up a draft for this in my Play Store Account, I'll need to create some assets and screenshots etc. but I'm aiming to publish this in the upcoming weeks. //cc @francisdb

[2016-07-07 12:31] francisdb commented on #44
looking forward to it 🙌

[2016-07-07 21:39] kimar opened #75 "Click on Fencelogs leads to infinite spinner if no credentials are set"

[2016-07-07 21:40] kimar opened #76 "Add placeholder view if Geofence list is empty"
Otherwise the user will be greeted with with a blank screen when starting a new app which is ugly and confusing

[2016-07-07 23:19] kimar commented on #44
![screen shot 2016-07-08 at 9 17 57 am](https://cloud.githubusercontent.com/assets/126418/16672933/e63a78c0-44ec-11e6-805a-18273ec3fb84.png)

Not sure what went wrong here but they instantly suspended the app. No chance of changing anything to it right now. Will have to wait until they get back to me. Worse experience than on the App Store so far 👎

[2016-07-07 23:41] francisdb commented on #44
Wat?
What does the mail with details say?

[2016-07-07 23:42] francisdb commented on #75
sounds like a similar issue as #73

[2016-07-07 23:44] kimar commented on #44
I've contacted support but they'll most likely need some time to get back. I'll update this issue if I know more.

[2016-07-09 01:34] kimar commented on #44
Problem solved, here we go: https://play.google.com/store/apps/details?id=io.locative.app

[2016-07-09 01:34] #44 closed

[2016-07-09 05:35] francisdb commented on #44
Great!

[2016-07-09 05:44] francisdb opened #77 "Login still mentions geofancy"
not sure if this is backend or app

![screenshot_20160709-074343](https://cloud.githubusercontent.com/assets/161305/16712116/6cba94bc-467c-11e6-804b-a11e18d5d45c.png)

[2016-07-09 05:46] francisdb opened #78 "Move login to it's own section in the menu"
And maybe suggest it when first opening the app

[2016-07-09 06:09] francisdb opened #79 "Import all"
Add import all action to import screen

[2016-07-09 21:59] kimar opened #80 "Crash when clicking on support/feature request"
See Crashlytics for details.
https://fabric.io/locative/android/apps/io.locative.app/issues/57817321ffcdc04250749dbe

[code]

This tab should link to https://my.locative.io/support from now on.

[2016-07-10 06:54] francisdb opened #81 "Crash in geofences activity"
https://fabric.io/locative/android/apps/io.locative.app/issues/578195cbffcdc04250759c47

[code]

[2016-07-11 06:25] #80 closed

[2016-07-11 06:25] kimar commented on #77
Fixed in v1.0.1

[2016-07-11 06:25] #77 closed

[2016-07-11 07:07] kimar opened #82 "Crash in LocationService.java:101"
[code]

https://fabric.io/locative/android/apps/io.locative.app/issues/57833f01ffcdc0425083a290

Crash happened after installing app with existing data. It seems that the location will be requested because Geofences are existing but permissions haver never been requested.

[2016-07-11 07:42] francisdb commented on #82
Got a stacktrace or link to crashlytics?

[2016-07-11 23:59] kimar opened #83 ""Send test" in settings is not behaving as expected"
**Expected behaviour**
- This should send a test to the entered url
- If user logged it should also create a fencelog
- If user NOT logged in it should just fire a request to the entered url

**Current behaviour**
- It only tries to send a fencelogs, no actual testing of the entered credentials (that's what it's all about!!)
- Ends up in endless spinner if not logged

[2016-07-16 05:35] kimar opened #84 "Geofences should trigger HTTP GET/POST request to URL defined in settings area"
Currently only Fencelogs are being dispatched. This also relates to #83.

[2016-07-17 05:02] kimar opened #85 "All feature which require login must not be available when not logged in"
E.g. accessing fencelogs, importing, etc. this leads to degraded UX when e.g. showing an indefinite spinner. This is related to #84

[2016-07-18 08:41] kimar opened #86 "Custom ID appears in address field for imported Geofences"

[2016-07-19 10:22] kimar opened #87 "Get rid of PNG assets and use SVG"

[2016-07-19 11:40] francisdb commented on #87
Did not even know that existed 👍
https://developer.android.com/studio/write/vector-asset-studio.html

[2016-07-21 11:06] kimar opened #88 "Add Geofence Button overlays Fencelogs or other Activities"
This is reprodicible but doesn't happen always.

[2016-07-23 23:59] kimar opened #89 "Implement debugging mode"
E.g. to show what settings a Geofence was triggered with from the service

[2016-07-24 02:37] kimar opened #90 "Set accent color to #32abdf"

[2016-07-24 03:31] kimar commented on #90
Fixes in 0872758

[2016-07-24 03:31] #90 closed

[2016-07-24 03:56] kimar commented on #85
Fixed in 45fd490

[2016-07-24 03:56] #85 closed

[2016-07-24 12:31] kimar opened #91 "NPE when refreshing import Geofences"
[https://fabric.io/locative/android/apps/io.locative.app/issues/5794b44cffcdc04250581b6d](https://fabric.io/locative/android/apps/io.locative.app/issues/5794b44cffcdc04250581b6d)

[code]

[2016-07-26 07:16] kimar opened #92 "Implement Geofence trigger simulation / tests"

[2016-07-26 10:12] #84 closed

[2016-08-02 13:13] boced66 opened #98 "Geofence send without moving"
When I leave my smartphone on a table,
Occasionally, outputs and zone entry is sent,

Before sending the log, should vérrifier if there is indeed information to send,

I propose to ask the exact location system (GPS) just before send to URL,

It happens every 30/40 minutes, the betterie should not be affected,

Thank you,
Merci,

[2016-08-06 15:40] francisdb opened #99 "Regression - notification now shows id instead of fence name"
The notifications used to show the fence name, they now show a useless uuid

![screenshot_20160806-173601 2](https://cloud.githubusercontent.com/assets/161305/17457588/ad5604da-5bfc-11e6-9afb-8e6bbccd77fc.png)

[2016-08-06 15:41] francisdb commented on #99
This fence was imported from the server

[2016-08-08 10:24] francisdb commented on #98
Are you seeing entries without exists?
Have you tried making the geofence larger?

In fact this is all handled by Google play Location services on Android, we could however let the user tweak the parameters:
https://developer.android.com/training/location/geofencing.html

[2016-08-10 08:50] boced66 commented on #98
I think this is the mode "doze" from Android 6.0,
I deleted Locative of battery optimization,
And it seems to work better,
Thank you for your reply, I close the ticket

[2016-08-10 08:50] #98 closed

[2016-08-16 13:31] francisdb opened #100 "Notification settings not applied"
All notifications are off (default?) but I get notifications anyway

Also is on `success`/ `failure` related to contactacting the locative backend or to trigger the global / related http url

[2016-08-17 07:49] francisdb opened #101 "Illegal url crash, add url validation"
We just got this error:

[code]

(I guess this url is missing `http(s)://`?)

We should just log these and not have the app crash on this.
Also we could call this url builder as a validation step on the text fields.

[2016-08-19 07:26] francisdb commented on #86
see also #99

[2016-08-19 10:26] jasperdevrient commented on #75
When a user isn't logged in and he goes to the fencelogs he is asked to choice to login.

[2016-08-19 10:26] #75 closed

[2016-08-22 11:37] francisdb opened #102 "Register account in app"
We would like our uses to avoid to have to connect to both the app and the website to get the integration through OAuth and webhooks going.

@kimar is there an api available to do this?

[2016-08-22 14:02] #102 closed

[2016-08-23 11:33] francisdb opened #103 "Geofence logs not sent any more for certain locations"
Since 02.06.2016 18:38:54 my 'work' fence is no longer logged on the server. Only my 'home' fence still logs.

Needs some more investigation but could be related to the latest updates, also the 'trigger on enter/exit' options are enabled by default but the url entered is empty.
It is unclear from the ui if this applies only to the local callbacks or also to serverside fence logging

[2016-08-24 10:29] francisdb commented on #103
This has been fixed after some discussion with @kimar , see caa3576e7d555a5d3538aaec6a4d62229d2a1183
Available as beta release

[2016-08-25 11:21] francisdb opened #104 "Fence log list should refresh when pulled down"
Implement pull to refresh on the fence log list

(Optionally we could even auto-refresh/update if a new fence enter/exit event happens)

[2016-08-26 07:48] francisdb opened #105 "IllegalArgumentException: invalid radius: 0.0"
Already 52 crashes for 7 users

https://fabric.io/locative/android/apps/io.locative.app/issues/57989893ffcdc042508b6137
older version
https://fabric.io/locative/android/apps/io.locative.app/issues/578195cbffcdc04250759c47

[code]

[2016-08-26 07:49] francisdb commented on #81
duplicate of #105

[2016-08-26 07:49] #81 closed

[2016-08-27 09:17] kimar commented on #105
Workaround available in e4bd538, this doesn't solve the (unknown to me) root cause though. Not sure why there are Geofence with a radius of `0.0`. But at least it prevents the service from crashing. I'll create a separate issue for the `0.0` problem.

[2016-08-27 09:17] #105 closed

[2016-08-27 09:18] kimar opened #106 "Sometimes Geofence radius is 0.0 when trying to add to LocationService"
See
https://fabric.io/locative/android/apps/io.locative.app/issues/57989893ffcdc042508b6137
and
https://fabric.io/locative/android/apps/io.locative.app/issues/578195cbffcdc04250759c47

Immediate fix has been deployed in v1.1.1

[2016-08-29 09:58] francisdb opened #107 "Fences not triggered any more since last updates"
I'm not getting notifications / fencelogs any more. @kimar can you check if other android users have the same proble. My last log was on 25.08.2016 09:36:39

[2016-08-29 10:36] kimar commented on #107
Could you try restarting it? Maybe the Android service went down? I can't see if it's working / not working for others unless somebody reports this.

[2016-08-30 08:10] francisdb commented on #107
A force kill of the app indeed fixed this.

[2016-08-30 08:10] #107 closed

[2016-08-30 08:13] kimar opened #108 "LocationService isn't working occasionally"
Some times the service either crashes or it's not spun up/doesn't register the Geofences correctly. The result is that no Geofences are being triggered.

We need to find out when/how this happens prior to fixing.

[2016-08-30 08:18] francisdb commented on #108
We had a similar issue before that was related to the phone restarting #66

[2017-01-07 14:22] kimar opened #109 "Make notification grouping optional (opt-out)"

[2017-01-07 23:39] francisdb commented on #109
Euh, make only showing last notifications optional.

[2017-01-08 08:02] kimar commented on #109
It's opt-in now, feel free to test the latest beta.
![screenshot_20170108-185722](https://cloud.githubusercontent.com/assets/126418/21748272/f372908a-d5d4-11e6-955c-ea2c965f5cfc.png)

[2017-01-08 08:02] #109 closed

[2017-01-08 20:25] francisdb commented on #100
@kimar did you also fix this one with #109 ?

[2017-01-09 10:14] kimar commented on #100
Fixed in fc45ea1

[2017-01-09 10:15] #100 closed

[2017-01-09 10:23] kimar commented on #108
@francisdb I haven't seen this in a while, might close it. If it's related to #66 we should tackle that one and get rid of this one.

[2017-01-09 10:24] kimar opened #110 "Get rid of "Save" in Settings"
Instead save when switches are flicked and debounce keyboard input for text and / or just simply save on exit of activity.

[2017-01-09 10:37] francisdb commented on #108
I can confirm that this certainly does not happen on my phone. I had the app working reliably for months

[2017-01-09 10:37] #108 closed

[2017-01-09 12:09] francisdb commented on #100
Just confirming this is fixed. 👍

[2017-01-10 13:23] kimar commented on #99
Thos has been fixed recently together with various ijconsistencies when impoetijg Geofences.

[2017-01-10 13:23] #99 closed

[2017-01-10 13:25] kimar opened #111 "Sometimes Geofences is stuck at loading animation"
Seemslike the ListView Adapter doesn't yield any results or isn't triggered correctly thus the ListView not being poplulated

[2017-01-10 13:26] kimar commented on #91
Obsolete, cannot reproduce

[2017-01-10 13:26] #91 closed

[2017-01-10 13:27] #103 closed

[2017-01-10 13:27] #86 closed

[2017-01-10 13:28] kimar commented on #82
Cannot reproduce (2.2.2)

[2017-01-10 13:28] #82 closed

[2017-01-10 13:28] kimar commented on #78
It's inside the new sidebar now, pretty obvious. Should do it for now.

[2017-01-10 13:28] #78 closed

[2017-01-10 13:29] kimar commented on #76
DONE

[2017-01-10 13:29] #76 closed

[2017-01-10 13:31] kimar opened #112 "Adjust Fencelogs list subtitle color"
After making the overall background not tend into whitish,  the Fencelogs subtitle is hardly readable

[2017-01-10 13:32] kimar opened #113 "Limit number of Fencelogs loaded, implement infinite scrolling"
Set initial number to arbitrary value and implement infinite scrolling. If the user has a huge list of Fencelogs, it sometimes takes ages until it's been loaded.

[2017-01-10 13:35] kimar commented on #19
This is still an issue and it's pretty annoying as I, on my Nexus 6P, can't move the fence at all, if I find some time I'll look into this

[2017-01-10 14:29] francisdb commented on #19
So you moved from iphone to android?

[2017-01-10 19:19] kimar commented on #19
Nah, I'm just sometimes using my Android Phone to better understand how things work on this platform.

[2017-01-11 11:10] kimar opened #114 "Implement retry if Webhook doesn't succeed"
Not sure what the current OkHttp Retry-Policy is, but we should retry at least three times if the request doesn't succeed. Shouldn't take longer than a few minutes though.

[2017-01-13 06:09] kimar commented on #19
Triaged the issue, it's been due to the `NestedScrollView` stealing the touch events thus it got cancelled and drag 'n drop didn't work correctly. I've also found a Workaround. The map is now also zoomable so the radius can be increased. This increases usability dramatically. A new version will be deployed to the Play Store soon.

[2017-01-13 06:34] #19 closed

[2017-01-13 07:16] #101 closed

[2017-01-13 20:16] kimar commented on #33
Migration to Dagger 2 is done in #115

[2017-01-13 20:16] #33 closed

[2017-01-14 00:40] kimar commented on #43
I was wrong. Still pending.

[2017-01-14 01:54] #112 closed

[2017-01-14 02:22] #113 closed

[2017-01-14 02:40] #104 closed

[2017-01-14 02:47] #73 closed

[2017-01-14 05:23] #83 closed

[2017-01-14 05:48] kimar commented on #106
Never seen this again, won't fix.

[2017-01-14 05:48] #106 closed

[2017-01-14 06:55] kimar commented on #88
Fixed

[2017-01-14 06:55] #88 closed

[2017-01-14 06:55] kimar commented on #111
Dupe. Already Fixed.

[2017-01-14 06:55] #111 closed

[2017-01-27 04:04] kimar opened #116 "Support HTTPS for custom ports"

[2017-02-05 14:28] Lampy09 opened #117 "All parameters are 'null'"
I'm using Locative in combination with Home Assistant and it looks like the Android version of Locative sends all parameters as 'null'. Example of an intercepted request:

`<somehost>&latitude=null&longitude=null&id=null&device=null&device_type=null&device_model=null&trigger=null&timestamp=null`

**Locative version:**
2.4.0(32)

**Android version:**
6.0

**Device:**
Huawei P9 Lite

[2017-02-06 12:00] kimar commented on #117
Hi, would you mind trying out this version of the app? It's a release from July 2016 and there might have been changes to the request format which hasn't been picked up by HA yet. If the app is crashing on startup you might need to remove the existing one first. This is due to database incompatibilities.

https://static-assets.locative.io/releases/10.apk

Please let me know if this improves anythi

[2017-02-06 12:28] Banana5kin commented on #117
Downloaded and installed, will test tonight when at home.

Thanks.

[2017-02-06 18:31] Lampy09 commented on #117
@kimar: this is what the old version (10.apk) sends:

`'/api/locative?api_password=<password>?latitude=52.297398&longitude=4.5619655&id=home&device=77dbc4b60a5c84f7&device_type=Android&device_model=HUAWEI+VNS-L31&trigger=exit&timestamp=2017-02-06+19%3A28%3A13.656'`

As you can see, the parameters are fine now (so it's definitely app version related). However this older version doesn't support extr

[2017-02-06 19:41] kimar commented on #117
@Lampy, mhhh that's weird as I said the new version is also sending a payload but it seems like something has changed and makes Ha not work. I'll have a look into this. I know there were issues with certain parameters that have been fixed in newer version .

Just to make sure: you are looking at real enter/exit events and not using the "send test request". Button from the settings menu, right?

[2017-02-06 19:47] Lampy09 commented on #117
Both tests (latest version and 10.apk) are done with **real** enter/exit events (GET request). I've tested against a NodeJS server to intercept what Locative is sending.

[2017-02-06 19:48] kimar commented on #117
@Lampy09 @Banana5kin could you please try Build 11 with HA? This one should fix the custom parameter issue: https://static-assets.locative.io/releases/11.apk

[2017-02-06 20:17] Lampy09 commented on #117
Build 11 is even weirder, it **looks** like everything goes right but I can't see any requests coming in. Not in HA and not on my NodeJS server.

[2017-02-06 20:23] kimar commented on #117
@Lampy09 @Banana5kin would you mind opting in for the beta? https://play.google.com/apps/testing/io.locative.app I've just published a release (2.4.1 (33)) that will be available within the next hours or so, this changes how request parameter encoding works, it seems the current way isn't working on all API Levels Locative is available for.

[2017-02-06 21:19] Lampy09 commented on #117
Yep that's it! It's working again! Thanks for the quick feedback.

[2017-02-06 21:21] kimar commented on #117
@lampy09 just to double check, the beta 2.4.1(33) is working as expected? Then I'd promote it do prod so everyone gets the fix

[2017-02-06 21:25] Lampy09 commented on #117
Yes, beta 2.4.1(33) is working as expected.

[2017-02-06 21:35] covrig commented on #117
My apologies @kimar. I was stuck without an internet connection all day. I see you solved the issue without my help. Excellent news! I told you that it was something related to the app. I also confirm that the latest beta is working properly.
_(I was fixing the problem with a small script that was rewriting the payload sent by Locative)_

[2017-02-06 21:40] kimar commented on #117
This has been fixed in v2.4.1 (33) b6d30d9 and will be available in the play store soon.

[2017-02-06 21:40] #117 closed

[2017-02-07 00:54] kimar commented on #117
Great @covrig would you be able to tell me the fix you did? I'df just be curious as it seems like something with the parameter encoding went terribly wrong on the android side but it worked for my system. So I assumed this had to do with different Android API levels. But would be cool to know how you've mitigated this.

[2017-02-09 08:26] kimar opened #118 "Implement dynamic radius when zooming out of map"
Currently on Android the max radius is fixed, on iOS we're increasing the max possible radius when zooming out the map, this should be feasible on Android too.

[2017-03-13 01:22] viperidae commented on #114
This happens frequently for me. When leaving my house the requests fail due to the switch-over from WiFi to cell.

[2017-03-13 01:30] kimar commented on #114
@viperidae unfortunately I don't have much time right now to spend on this project but I'm happy to review/merge PRs opened by contributors.

[2017-04-01 08:23] kimar opened #119 "Implement custom http headers for Webhooks"

[2017-04-20 15:05] IzzySoft opened #120 "Publish APK at Github?"
Would you mind attaching the `.apk` file to the corresponding `releases/` here at Github, so folks without Playstore can grab it? I could then automatically fetch it and include it with [my F-Droid compatible repo](https://android.izzysoft.de/repo).

[2017-05-14 00:22] kimar commented on #120
@IzzySoft Locative has been discontinued, I'm closing this issue now: http://blog.locative.io/bye-everyone-df01871fe949

[2017-05-14 00:22] #120 closed

[2017-05-14 10:49] IzzySoft commented on #120
A pity – but yes, that makes my request obsolete. Thanks anyway!